.hidden
  display: none

.media-player-container
  display: flex
  flex-direction: column
  justify-content: center
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  width: 100%
  z-index: 12
  background: var(--media-player-background-color)

.is-mobile .preview_container
  left: 0
  bottom: 0
