@import "~themes/_variables"

$borderRadius = 20px

.dialog-item .dialog-time__item
  padding: ($vSpacing * 0.5) $hSpacing
  border: 1px solid var(--gray)
  border-radius: $borderRadius
  background: var(--lightgrey2)
  line-height: 1
  color: var(--graydarker)

.dialog-time
  display: flex
  justify-content: center
  width: 100%
  max-width: 85%
  margin-top: ($vSpacing * 2)
  margin-right: auto
  margin-left: auto
  font-size: var(--smallFont)
