root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.vue]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 2

[*.rs]
indent_style = space
indent_size = 4

[*.styl]
indent_style = space
indent_size = 2

[*.css]
indent_style = space
indent_size = 4

[*.{html,svg}]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
max_line_length = off

[{*.json,.babelrc,.modernizrrc}]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[{*.toml,.cargo/config}]
indent_style = space
indent_size = 4

[Dockerfile]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.{sh,bats}]
indent_style = space
indent_size = 2

[nginx.*.conf]
indent_style = space
indent_size = 2
