/.idea/
/.vscode/
/*.iml
.DS_Store

/.cache/
/.coverage/

/hooks/
/node_modules/
/out/
/platforms/
/public/
/target/

/my.*.vals.yaml

/graphql.schema.json
/selenium-debug.log
/yarn-error.log
/.eslintcache
