@import "~themes/_variables"

$contentWidth = 500px
$searchBarHeight = 56px
$inputFieldHeight = 49px
$userPreviewAvatarSize = 25px

.forward-container__users-list
  position: relative
  width: 100%
  max-width: $contentWidth
  height: 100%
  margin: 0 auto
  overflow: hidden auto
  z-index: 11
  background: var(--lightgray)

  &::-webkit-scrollbar
    display: none

  &__letter-group__letter
    display: block
    position:-webkit-sticky
    position:sticky
    top: 0
    width: 100%
    padding: ($contentWidth * 0.01) ($contentWidth * 0.055)
    border-bottom: 1px solid var(--lightgray)
    z-index: 1
    background: var(--lightgrey2)
    text-transform: capitalize

  .user-select
    position: relative
    transition: all .2s ease-out

    .user-preview
      display: flex
      align-items: center
      height: unset
      padding: ($userPreviewAvatarSize * 0.6)

      &__avatar
        min-width: $userPreviewAvatarSize
        max-width: $userPreviewAvatarSize
        min-height: $userPreviewAvatarSize
        max-height: $userPreviewAvatarSize
        border-radius: 50%
        margin-right: ($hSpacing * 1.5)
        background-color: var(--white)

        .avatar-icon
          width: "calc(100% - %s)" % ($userPreviewAvatarSize * 0.16)
          height: "calc(100% - %s)" % ($userPreviewAvatarSize * 0.16)

.users__list
  &-check
    position: absolute
    top: 50%
    right: ($checkboxSize * 0.9)
    transform: translateY(-50%)

    &-box
      width: $checkboxSize
      height: $checkboxSize
      border: 1px solid var(--gray)
      border-radius: 100%
      transition: all .2s ease-out

    &-icon
      width: ($iconSize * 0.5)
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)

.main-container:not(.is-mobile) .users__list
  position: absolute
  left: 50%
  top: 0
  bottom: 0
  width: 100%
  max-width: $contentWidth
  transform: translateX(-50%)
