@import "~themes/_variables"

$imageWidth = 600px

.slider-item
  width: 100%
  height: 100%

  .slider-item__media
    height: 100%
    width: 100%
    position: relative

    &.doc img
      display: block
      max-width: $imageWidth
      margin: 0 auto

    video
      width: 100%
      height: 100%
      object-fit: contain
      transition: all .3s ease-out

      &:hover
        cursor: pointer

    img
      width: 100%
      height: 100%
      object-fit: contain
      transition: all .3s ease-out

    &__play-button
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      top: 50%
      left: 50%
      width: $playButtonSize
      height: $playButtonSize
      border: 2px solid var(--white)
      border-radius: 100%
      transform: translate(-50%, -50%)
      background: var(--play-button-background-color)

      svg
        height: ($playButtonSize * 0.6)
        transform: "translateX(%s)" % (@height * 0.1)
