@import "~themes/_variables"

$borderRadius = 5px
$disabledLineWidth = 1px

.floating-window
  display: flex
  justify-content: flex-end
  align-items: flex-end
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  transition: bottom 0.5s ease-out
  overflow: hidden
  z-index: 15

  &:hover
    cursor: pointer

  &.minified
    width: 100%
    height: 100%
    top: 0 !important
    right: 0 !important
    border-radius: $borderRadius

    .floating-window__video-element
      height: 100%

    .floating-window__overlay
      opacity: 0

  &.loaded
    top: unset
    right: ($hSpacing * 0.8)
    bottom: ($vSpacing * 0.8)
    left: unset
    width: 30%

  &-hidden
    visibility: hidden
    opacity: 0

  &.bottom
    bottom: ($vSpacing * 0.8)

  &.loaded .floating-window__video-element
    width: 100%
    height: unset
    border-radius: $borderRadius

  &__video-element
    width: 100%
    height: 100%
    object-fit: cover
    transition: all 0.2s ease-out


  &-corner
    position: absolute
    bottom: (- $vSpacing * 0.3)
    left: (- $hSpacing * 0.3)

  &-corner svg
    fill: var(--lightgray)
    transform: rotate(180deg)

  &__microphone
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: ($vSpacing * 0.5)
    z-index: 2

    &:before
      content: ""
      position: absolute
      top: 40%
      left: 50%
      width: calc(160%)
      height: $disabledLineWidth
      background: var(--white)
      transform: translate(-50%, -50%) rotate(-45deg)
      transition: all 0.2s ease-out
      z-index: 2

    svg
      height: round($iconSize * 0.82)

  &__overlay
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: rgba(0, 0, 0, 0.4)
    border-radius: $borderRadius

.call--fullscreen .loaded
  width: 20%
  bottom: ($vSpacing * 1.5)
  z-index: 12

.main-container
  &:not(.is-mobile)
    .floating-window
      &.loaded
        bottom: ($vSpacing * 0.8)

      &.bottom
        bottom: ($vSpacing * 0.8)

  &.is-mobile
      &.bottom
        bottom: ($vSpacing * 0.8)

