@import "~themes/default/colors"

.tab-item
  &__header
    padding 20 15
    font-weight bold
    border-bottom-width: 1
    border-bottom-color: $color.border.default
    background: $color.background.wrapper.default
  &__content
    padding 15

.settings-item
  width 100%

  &__info
    margin-top 20
    margin-bottom 10
    padding 15
  &__confirm
    padding 0 15
  &.num
    Label
      text-align center
