@import '~themes/_variables'

$borderGap = 6px
$minHeight = 68px

.status
  display: flex
  justify-content: space-between
  //width: 100%
  align-self: stretch
  align-items: center
  margin: 0 $borderGap
  min-height: $minHeight
  padding: ($vSpacing * 1.3) ($hSpacing * 2.6)
  border-bottom: 1px solid var(--gray)

  &__information
    display: flex
    flex-direction: column
    width: 100%
    overflow: hidden

    & > span
      color: var(--gray-darker)

  &__title
    display: block
    font-size: var(--regularFont)
    margin-bottom: $vSpacing

    &:last-child
      margin-bottom: 0

  &__description
    font-size: var(--smallFont)

  .status__delete-button
    width: round($iconSize * 0.68)
    height: @width
    transform: rotateZ(45deg)
    margin-left: $hSpacing * 1.5
    flex-shrink: 0


    svg
      width: 100%
      height: 100%
      stroke: var(--gray)
