.profile-settings__avatar-slider
  .swiper-container.swiper.profile-settings__slider
    z-index: 0

    .swiper-pagination
      bottom: 0 !important

      .swiper-pagination-bullet
        background-color: white !important
