@import "~themes/_variables"

$scrollbarWidth = 2px

.main-container
  .contacts-page
    .vue-bar-container
      height: 100%

    &__container
      display: flex
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

    &__contacts-menu
      min-width: var(--sidebar-width)
      margin: ($vSpacing * 0.5) 0
      border-right: 1px solid var(--gray)
      overflow: hidden
      background-color: var(--lightgray)

    .vb > .vb-dragger
      right: 0
      width: $scrollbarWidth
      z-index: 2
      background-color: var(--gray)

    .dialog-container
      padding: 0 ($hSpacing)

    &-menu.active
      left: 0 !important

  &.is-mobile .contacts-page__dialogs
    z-index: 5

.contacts
  flex: 1
  min-width: 0
  overflow-x: hidden
  overflow-y: auto
  transition: min-width 0.3s

.sidebar-menu-transition-enter-active
.sidebar-menu-transition-leave-active
  transition: transform 0.2s ease-in-out

.sidebar-menu-transition-enter
.sidebar-menu-transition-leave-to
  transform: translateX(-100%)
