$color = {

  default: {
    white: #fff
    black: #212121
    danger: #FF6E6E
    dark: #a1a1a1
  }

  background: {
    default: #f5f5f5
    dark: #e6e6e6
    mine-message: #e1ecde
    darker: #bbb

    overlay: {
      dark: rgba(66, 66, 66, 0.84)
      default: rgba(243, 243, 243, 0.8)
    }

    wrapper: {
      default: #f3f3f3
      rgba: rgba(243, 243, 243, 0.97)
    }
  }

  border: {
    default: #ddd
    dark: #a1a1a1
    white: #fff
    danger: #FF6E6E
  }

  font: {
    default: #212121
    dark: #888
    light: #a1a1a1
    white: #fff
    danger: #FF6E6E // or #b72222
    placeholder: #757575
    link: #212121
    link-hover: #212121
  }

  shadow: {
    default: #636363
  }
}
