// Taken from http://meyerweb.com/eric/tools/css/reset/ and simplified.

html, body, div, span, p, a, img, aside, footer, header, nav, section, h1, sup
  margin: 0
  padding: 0
  border: 0
  font: inherit
  vertical-align: baseline

body
  line-height: 1

aside, footer, header, nav, section
  display: block

input,
textarea,
button,
select
  outline: none
  margin: 0
  padding: 0
  font: inherit

label
  cursor: inherit
