@require '~themes/default/colors'

$height = 47

#app, ActionBar, .drawerContent
  background: $color.background.wrapper.default

ActionBar
  height: $height

.topbar
  width 100%
  justify-content space-between
