@import "~themes/_variables"

$headerHeight = 60px
$maxHeaderWidth = 500px
$arrowRotate = 180deg

.terms__header
  position: absolute
  left: 0
  top: 0
  right: 0
  height: $headerHeight
  padding: 0px ($hSpacing * 1.5)
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid var(--gray)

  &-title
    font-size: var(--regularFont)

.main-container
  &:not(.is-mobile)
    .terms__header
      max-width: $maxHeaderWidth
      width: 100%
      left: 50%
      right: unset
      transform: translateX(-50%)
      padding-left: 0
      padding-right: 0

.terms__arrow
  cursor: pointer
  padding: ($vSpacing / 2) ($hSpacing / 2)
  display: flex
  align-items: center
  color: var(--graydarker)
  font-size: var(--regularFont)
  transition: all 0.4s ease-out
  svg
    height: $iconSize
    transform: "rotateY(%s)" % ($arrowRotate)
  span
    margin-left: ($hSpacing * 1.3)
    transform: translateY(-1px)

.terms__arrow-transform
  svg
    transform: none

.terms__body
  position: absolute
  top: $headerHeight
  left: 0
  right: 0
  bottom: 0px
  overflow: auto
  padding: ($vSpacing * 3.5) ($hSpacing * 2)
  &::-webkit-scrollbar
    width: 1px
  &::-webkit-scrollbar-track
    background: var(--superlightgray)
  &::-webkit-scrollbar-thumb
    background: var(--graydarker)
    &:hover
      background: var(--darksilver)

.is-mobile
  .terms__body
    bottom: var(--bottom-menu-height)

.terms__body-text
  display: grid
  grid-template-columns: 1fr
  grid-gap: ($vSpacing * 1.5)
  font-size: var(--regularFont)
  max-width: $maxHeaderWidth
  margin-left: auto
  margin-right: auto

