@import "~themes/_variables"

$borderRadius = 13px
$maxWidth = 400px

.share
  &__container
    position: fixed
    top: 0
    right: 0
    bottom: var(--bottom-menu-height)
    width: 100%
    left: 0
    z-index: 15

  &__overlay
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    background: var(--overlay-backplate)

  &__body
    position: absolute
    right: $hSpacing
    bottom: $vSpacing
    width: "calc(100% - %s)" % ($hSpacing * 2)
    max-width: $maxWidth
    max-height: "calc(100% - %s)" % ($vSpacing * 2)
    overflow-y: scroll
    padding: ($vSpacing * 3.5) ($hSpacing * 2)
    border: 1px solid var(--gray)
    border-radius: $borderRadius
    border-bottom-right-radius: 0
    z-index: 2
    background: var(--lightgray)

    &::-webkit-scrollbar
      display: none

    &-overbox
      position: relative
      z-index: 2
      background: var(--lightgray)

  &__box
    display: flex
    justify-content: space-between
    flex-direction: column

    &-name
      font-size: var(--mediumFont)
      display: block
      margin-bottom: ($vSpacing * 2.7)

  &__line
    display: block
    position: relative
    margin-top: ($vSpacing * 2.7)
    margin-bottom: ($vSpacing * 2.7)
    width: 100%
    height: 1px

    &:before
      content: ''
      position: absolute
      top: 50%
      right: 0
      left: 0
      height: 1px
      transform: translateY(-50%)
      background: var(--gray)

  &__dropdown
    &-backlayer
      border-radius: 'calc(%s - 1px)' % ($borderRadius)
      border-bottom-right-radius: 0
      background-color: var(--overlay-backplate)
      position: absolute
      top: -1px
      left: -1px
      bottom: -1px
      right: -1px

    &-wrapper
      position: relative
      z-index: 2
      &.active
        padding-bottom: 39px

        .dropdown
          position: absolute
          left: 0
          top: 0
          right: 0

.is-mobile
  .share
    &__body
      right: 0
      bottom: 0
      left: 0
      width: 100%
      max-width: unset
      border: none
      border-bottom-left-radius: 0
      border-bottom: 1px solid var(--gray)

.fade
  &-enter
  &-leave-to
    opacity: 0

  &-enter
  &-leave
    &-active
      transition: opacity 0.3s ease-in-out
