@import "~themes/_variables"

.email-verification
  &__message
  .profile-settings__section__editable-input-wrapper
    margin-bottom: (2 * $vSpacing)

  &__resend-button
    display: block
    margin-bottom: (2 * $vSpacing)
    margin-left: auto
    font-size: var(--regularFont)

.fade-enter
.fade-leave-to
  opacity: 0

.fade-enter-active
.fade-leave-active
  transition: 0.15s ease-in-out
