:root {
  --white: #fff
  --superlightgray: #f1f1f1
  --lightgray: #f5f5f5
  --lightgrey2: #efefef
  --gray: #d4d4d4
  --graydarker: #888
  --darkgray: #343434
  --superdarkgray: #181818
  --blue: #73beff
  --darksilver: #b7b7b7
  --black: #000
  --red: #e74c3c
  --green: #00bd00
  --shadow-color: #636363
  --dark: #313131
  --call-footer-background: #000
  --call-drag-target-background-color: #888888aa

  --unread-messages-counter-background: #03a803
  --thumb-color: #c1c1c1
  --active-color: #70b7f4

  --media-player-background-color-opacity: #000000dd
  --media-player-background-color: #000000

  --idle-color: #ffa500
  --busy-color: #f00
  --online-color: #00e600
  --offline-color: #888
  --away-color: orange
  --live-color: #609fff

  --overlay-backplate: rgba(0,0,0,.8)
  --message-background-color: #fafafa
  --own-message-background-color: #e3f2ff
  --play-button-background-color: rgba(24, 24, 24, .3)


  --call-controls-border-color: rgba(228, 228, 228, .8)
  --call-controls-background-color: rgba(245, 245, 245, .8)

  --call-end-call-button-border-color:rgba(120, 40, 30, 0.8)
  --call-end-call-button-background-color: rgba(231, 76, 60, 0.8)

  --accept-call-button-background-color: #2ecc71
  --accept-call-button-border-color: #27ae60

  --decline-call-button-background-color: #e74c3c
  --decline-call-button-border-color: #c0392b

  --call-overlay-background-color: rgba(0,0,0,.6)


  --extrasmallFont: 10px
  --regularSubFont: 12px
  --smallFont: 14px
  --regularFont: 16px
  --mediumFont: 18px
  --largeFont: 20px

  --message-attachment-hover: brightness(1.1)
  --message-attachment-hover-transition: 0.2s filter ease-in-out

  --mobile-breakpoint: 800px
  --sidebar-width: 400px
  --bottom-menu-height: 55px

  --icon-transition: 0.2s ease-in-out
}

// Colors
$lightgray = #f5f5f5
$lightgray2 = #efefef
$gray = #d4d4d4
$graydarker = #888888
$darkgray = #343434
$superdarkgray = #181818

// Font sizes
$tinyFont = 10px
$smallFont = 14px
$mediumFont = 18px
$largeFont = 20px

$playButtonSize = 50px
$toolsDotSize = 3px
$checkboxSize = 22px
$iconSize = 22px
$bottomAppMenuHeight = 56px
$dialogHeaderHeight = 60px
$chatsInputHeight = 55px
$arrowIconSize = 6px

$hSpacing = 10px  // standard horizontal padding/margin
$vSpacing = 10px  // standard vertical padding/margin
