@import "~themes/_variables"

$headerHeight = 60px
$controlsHeight = 50px

.call__info
  position: absolute
  left: 0
  right: 0
  top: $headerHeight
  bottom: "calc(%s + %s)" % ($hSpacing * 1.5 $controlsHeight)
  padding: 0 ($hSpacing * 8)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  z-index: 2
  height: fit-content
  color: var(--white)

  &--title
    font-size: var(--largeFont)
    color: var(--white)
    margin-bottom: ($vSpacing * 1)
    text-overflow: ellipsis
    text-align: center
    overflow: hidden
    white-space: nowrap
    line-height: 1.2
    max-width: 100%

  &--subtitle
    color: var(--white)
    font-size: var(--largeFont)
