.main-container.is-mobile
    background-color: var(--lightgrey2)

    .mobile-hidden
      display: none !important

    .desktop-hidden
      display: block !important

    .app-wrap
      max-width: var(--mobile-breakpoint)
      margin: 0 auto
      border-top: 0
      border-bottom: 0
