@import "~themes/_variables"

$borderRadius = 20px
$maxErrorWidth = 90%

passwordForm()
  .password__body
    &-box
      display: flex
      margin-bottom: ($vSpacing * 2)
      position: relative

    &-input
      width: 100%
      padding: ($vSpacing * 0.95) ($hSpacing * 2)
      border: 1px solid var(--gray)
      border-radius: $borderRadius
      font-size: var(--regularFont)
      background: var(--message-background-color)

    &-item
      display: flex
      flex-direction: column

    &-error
      margin-bottom: ($vSpacing * 0.7)
      color: red
      max-width: $maxErrorWidth
      align-self: flex-start
      text-align: left
      margin-left: $hSpacing

      &:last-child
        margin-bottom: 0

    &-errors-wrapper
      display: flex
      flex-direction: column
      margin-bottom: ($vSpacing * 2)

    &-btn
      align-self: flex-end
      font-size: var(--regularFont)
      cursor: pointer
