@import "~themes/_variables"

.message__container-forwarded
  &-box
    margin-bottom: 0
    padding-bottom: $vSpacing

  &-text
    display: flex
    align-items: center
    font-size: var(--smallFont)
    line-height: 1
    color: var(--graydarker)

    svg
      height: round($iconSize * 0.59)
      margin-right: ($hSpacing * 0.5)
